{% extends "layout.html" %}

{% block body %}

<h1>Active {{active.name}} ({{ active.active_type.code }})</h1>

<div  class="jumbotron">
  <dl class="row">
    <dt class="col-2">Responsible:</dt>
    <dd class="col-10">{{ "Not set" if active.responsible == None else active.responsible }}</dd>
    {% for field in active.fields %}
    <dt class="col-2">{{ field.replace("_", " ").capitalize() }}:</dt>
    <dd class="col-10">
        {{ active[field] }}
    </dd>
    {% endfor %}
  </dl>

  <h2>Relationships</h2>
  
  <ul>
    {% for name, items in active.related.items() %}
    <li>{{ name }}
      <ul>
          {% for item in items %}
          <li><a href="{{ get_active_filename(name, item) }}">{{ item }}</a></li>
          {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>



<h2>Threats</h2>

<p>* marks default values.</p>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Probability</th>
            <th>Impact</th>
            <th>Risk</th>
        </tr>
    </thead>
    <tbody>
        {% for threat in active.threats %}
        {% set probability=get_probability(active, threat) %}
        {% set impact=get_impact(active, threat) %}
        <tr>
            <th>{{ threat.code }} </th>
            <td>{{ threat.title }} </td>
            <td>{{ 'Not set' if probability == None else probability }}{{ '*' if threat.probability == None }}</td>
            <td>{{ 'Not set' if impact == None else impact }}{{ '*' if threat.impact == None }}</td>
            {% if impact != None and probability != None %}
            {%   set risk=impact * probability %}
            <td style="background-color: {{ risk_to_color(risk) }}">{{ risk }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
